              <li class="treeview">
                <a href="#">
                  <i class="fa fa-child"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="#"><i class="fa fa-check-square"></i> Lista</a></li>
                  <li><a href="#"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-motorcycle"></i>
                  <span>Repuestos</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa fa-check-square"></i> Lista</a></li>                
                  <li><a href="#"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>               
                </ul>
              </li>

       
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-wrench"></i>
                  <span>Asistencia</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> Listado de Compras</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Realizar Compras</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Reportes Compras</a></li>                
                </ul>
              </li>

